
.DS_Store
mysite/.idea/encodings.xml
mysite/.idea/libraries/R_User_Library.xml
mysite/.idea/misc.xml
mysite/.idea/modules.xml
mysite/.idea/mysite.iml
mysite/.idea/workspace.xml
mysite/.idea/vcs.xml
mysite/.idea/inspectionProfiles/Project_Default.xml
*.pyc
*.pyc
